<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Menu-Mapper">
	
	<select id="select_top_menu" resultType="menu">
		WITH RECURSIVE menu_list(
			mcode, code_name, url, icon_file, upcode, enable, iscategory, icon_color, code_level, js_text) AS
			(
			SELECT m1.mcode, m1.code_name, m1.url, m1.icon_file, m1.upcode, m1.enable, m1.iscategory, m1.icon_color, m1.code_level, m1.js_text
			FROM menu m1
			WHERE upcode IS NULL 
			UNION ALL 
			SELECT m2.mcode, m2.code_name, m2.url, m1.icon_file, m2.upcode, m1.enable, m2.iscategory, m1.icon_color, m1.code_level + 1, m1.js_text
			FROM menu m1, menu m2 
			WHERE m1.mcode = m2.upcode
		) 	SELECT *
		FROM menu_list
		ORDER BY mcode ASC
	</select>
	
	<select id="select_category" resultType="menu">
		SELECT *
		FROM menu
		WHERE code_level = 0
		AND iscategory = 0
		AND "enable" = 1
		ORDER BY mcode
	</select>
	
	<select id="select_sub_menu" resultType="menu">
		SELECT *
		FROM menu
		WHERE code_level = 1
	</select>
	
	<update id="delete_menu">
		DELETE FROM menu
		WHERE code_name = #{mcode}
	</update>
	
</mapper>




